{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>{% trans "Upload new font" %}</h1>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
